html {
    font-family: Lato, 'Helvetica Neue', Arial, Helvetica, sans-serif;
    font-size: 14px;
    position: relative;
    min-height: 100%;
    padding-bottom: 50px;
}

nav {
    margin-bottom: 50px;
}

.card {
    font-size: 1em;
    overflow: hidden;
    padding: 0;
    border: none;
    border-radius: .28571429rem;
    box-shadow: 0 1px 3px 0 #d4d4d5, 0 0 0 1px #d4d4d5;
}

.card-block {
    font-size: 1em;
    position: relative;
    margin: 0;
    padding: 1em;
    border: none;
    border-top: 1px solid rgba(34, 36, 38, .5);
    box-shadow: none;
}

.card-img-top {
    display: block;
    /*width: 100%;*/
    /*height: auto;*/
    max-height: 100%;
    max-width: 100%;

}

.card-title {
    font-size: 1.28571429em;
    font-weight: 700;
    line-height: 1.2857em;
}

.card-title a {
    text-decoration: none;
    color: rgba(0, 0, 0, .68);
}

.card-text {
    clear: both;
    margin-top: .5em;
    color: rgba(0, 0, 0, .68);
}

.card-footer {
    font-size: 2em;
    position: static;
    top: 0;
    left: 0;
    max-width: 100%;
    padding-right: 1em;
    border-top: 1px solid rgba(0, 0, 0, .15) !important;
    background: #fff;
}

.profile-inline ~ .card-title {
    display: inline-block;
    margin-left: 4px;
    vertical-align: top;
}

.meta {
    font-size: 1em;
    color: rgba(0, 0, 0, .4);
}

.meta a {
    text-decoration: none;
    color: rgba(0, 0, 0, .4);
}

.meta a:hover {
    color: rgba(0, 0, 0, .87);
}

/* ***************************************** */
.form-signin {
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}

.form-signin .form-signin-heading,
.form-signin .checkbox {
    margin-bottom: 10px;
}

.form-signin .form-control {
    position: relative;
    box-sizing: border-box;
    height: auto;
    padding: 10px;
    font-size: 16px;
}

.form-signin .form-control:focus {
    z-index: 2;
}

.form-signin .form-signin-top {
    margin-bottom: 5px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.form-signin .form-signin-middle {
    margin-bottom: 5px;
    border-radius: 0;
}

.form-signin .form-signin-bottom {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

/* ***************************************** */

.product_view .modal-dialog {
    max-width: 800px;
    width: 100%;
}

/* ***************************************** */

#customFile .custom-file-control::after {
    content: "Couverture du livre...";
}

#customFile .custom-file-control::before {
    content: "Parcourir";
}

/*when a value is selected, this class removes the content */
.custom-file-control.selected::after {
    content: "" !important;
}

.custom-file {
    overflow: hidden;
}

.custom-file-control {
    white-space: nowrap;
}
/* ***************************************** */


.box {
    background:#fff;
    transition:all 0.2s ease;
    border:2px dashed #dadada;
    margin-top: 10px;
    box-sizing: border-box;
    border-radius: 5px;
    background-clip: padding-box;
    padding:0 20px 20px 20px;
}

.box:hover {
    border:2px solid #525C7A;
}

.box span.box-title {
    color: #fff;
    font-size: 24px;
    font-weight: 300;
    text-transform: uppercase;
}

.box .box-content {
    padding: 16px;
    border-radius: 0 0 2px 2px;
    background-clip: padding-box;
    box-sizing: border-box;
}
.box .box-content p {
    color:#515c66;
    text-transform:none;
}
